@import "tailwindcss";


:root,
[data-theme="light"] {
  --primary-color: #ffffff;
  --secondary-color: #DCD4EE;
  --background-color: #F9FAFB;
  --text-color: #0F1020;
  --muted-text-color: #4B5563;
  --accent-color: #0162D0;
  --accent-color-hover: #0149a6;
  --border-color: #E5E7EB;
  --success-color: #10B981;
  --warning-color: #F59E0B;
  --error-color: #EF4444;
  --shadow-color: rgba(0, 0, 0, 0.05);
  --navbar-bg-light: rgba(175, 238, 238, 0.5);
  --navbar-backdrop-filter-light: blur(12px);

  --bg-color: var(--background-color);
  --form-bg: var(--primary-color);
  --input-bg: var(--primary-color);
  --button-bg: var(--accent-color);
  --button-hover: var(--accent-color-hover);
  --button-primary: var(--accent-color);
}

[data-theme="dark"] {
  --primary-color: #171330;
  --secondary-color: #1F1B3A;
  --background-color: #0F0D26;
  --text-color: #F3F4F6;
  --muted-text-color: #9CA3AF;
  --accent-color: #4F9EF9;
  --accent-color-hover: #3B82F6;
  --border-color: #374151;
  --success-color: #34D399;
  --warning-color: #FBBF24;
  --error-color: #F87171;
  --shadow-color: rgba(255, 255, 255, 0.05);
  --navbar-bg-dark: rgba(25, 25, 35, 0.7);
  --navbar-backdrop-filter-dark: blur(12px);

  --bg-color: var(--primary-color);
  --form-bg: var(--secondary-color);
  --input-bg: #2A2545;
  --button-bg: var(--accent-color);
  --button-hover: var(--accent-color-hover);
  --button-primary: var(--accent-color);
}
body {
  font-family: 'Inter', 'Roboto';
}
